In [73]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
#Open JobApplicants.csv file
df = pd.read_csv('JobApplicants.csv')

In [75]:
df.head()

,w,Age,Accessibility,EdLevel,Employment,Gender,MentalHealth,MainBranch,YearsCode,YearsCodePro,Country,PreviousSalary,HaveWorkedWith,ComputerSkills,Employed
0,0,<35,No,Master,1,Man,No,Dev,7,4,Sweden,51552.0,C++;Python;Git;PostgreSQL,4,0
1,1,<35,No,Undergraduate,1,Man,No,Dev,12,5,Spain,46482.0,Bash/Shell;HTML/CSS;JavaScript;Node.js;SQL;Typ...,12,1
2,2,<35,No,Master,1,Man,No,Dev,15,6,Germany,77290.0,C;C++;Java;Perl;Ruby;Git;Ruby on Rails,7,0
3,3,<35,No,Undergraduate,1,Man,No,Dev,9,6,Canada,46135.0,Bash/Shell;HTML/CSS;JavaScript;PHP;Ruby;SQL;Gi...,13,0
4,4,>35,No,PhD,0,Man,No,NotDev,40,30,Singapore,160932.0,C++;Python,2,0

In [76]:
# Fill missing values with an empty string and split the strings
df['HaveWorkedWith'] = df['HaveWorkedWith'].fillna('').str.split(';')

# Get a set of unique programming languages
unique_languages = set(language for sublist in df['HaveWorkedWith'] if isinstance(sublist, list) for language in sublist)

# Create a new column for each unique language and sets True if the applicant has worked with that language and False if not. Also renames each column to "WW for worked with"
for language in unique_languages:
    df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)

C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)
C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\665283268.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["WW "+language] = df['HaveWorkedWith'].apply(lambda x: True if language in x else False if isinstance(x, list) else False)

In [77]:
df.head()

,w,Age,Accessibility,EdLevel,Employment,Gender,MentalHealth,MainBranch,YearsCode,YearsCodePro,...,WW Google Cloud,WW Angular,WW npm,WW Unreal Engine,WW ASP.NET,WW JavaScript,WW ASP.NET Core,WW Unity 3D,WW PowerShell,WW Xamarin
0,0,<35,No,Master,1,Man,No,Dev,7,4,...,False,False,False,False,False,False,False,False,False,False
1,1,<35,No,Undergraduate,1,Man,No,Dev,12,5,...,False,False,False,False,False,True,False,False,False,False
2,2,<35,No,Master,1,Man,No,Dev,15,6,...,False,False,False,False,False,False,False,False,False,False
3,3,<35,No,Undergraduate,1,Man,No,Dev,9,6,...,False,False,False,False,False,True,False,False,False,False
4,4,>35,No,PhD,0,Man,No,NotDev,40,30,...,False,False,False,False,False,False,False,False,False,False

In [78]:
#Drop the original HaveWorkedWith column
df = df.drop('HaveWorkedWith', axis=1)

In [79]:
#What correlates the most with "employed" column?
df.corr()['Employed'].sort_values()

C:\Users\Simon\AppData\Local\Temp\ipykernel_8608\1276420888.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()['Employed'].sort_values()

WW Git           -0.041518
WW Clojure       -0.040896
WW Julia         -0.039680
WW R             -0.032229
WW               -0.031502
                    ...
WW JavaScript     0.421965
WW TypeScript     0.468950
WW Node.js        0.493086
ComputerSkills    0.585545
Employed          1.000000
Name: Employed, Length: 124, dtype: float64